body {
    background-color: LavenderBlush ;
    font-family:"Comic Sans MS","font/Comic-Sans-MS-Regular-2.ttf","Hiragino Sans GB W3",sans-serif,"STFangsong";
    font-size:17px;
  }
/* h2{
  font-family:sans-serif;
}
h3{
  font-family:sans-serif;
} */