@font-face {
    font-family: 'Comic-Sans-MS-Regular-2';
    src: url("font/Comic-Sans-MS-Regular-2.ttf");
  }
@font-face {
    font-family: 'komorebi-gothic-2';
    src: url("font/komorebi-gothic-2.ttf");
}
@font-face {
    font-family: 'komorebi-gothic-P-3';
    src: url("font/komorebi-gothic-P-3.ttf");
}
@font-face {
    font-family: 'STHeiti-Light-3';
    src: url("font/STHeiti-Light-3.ttc");
}
@font-face {
  font-family: '冬青黑GB_W3';
  src: url("font/冬青黑GB_W3.ttf");
  font-weight: 900;
}
body {
    background-color: LavenderBlush ;
    font-family:'Comic sans MS','Comic-Sans-MS-Regular-2','冬青黑GB_W3',Arial, Helvetica,sans-serif,"STFangsong";
    font-size:17px;
}

a {
    text-decoration: none
}

/* h2{
  font-family:sans-serif;
}
h3{
  font-family:sans-serif;
} */